:root {
  --primary-color: #618bde;
  --secondary-color: #00008b;
  --grey: #808080;
  --light-grey: #d3d3d3;
}

section {
  margin-top: 64px;
  padding: 1rem;
  min-height: calc(100vh - 64px);
}

@media (max-width: 768px) {
  section {
    margin-top: 72px;
    min-height: calc(100vh - 72px);
  }
}

.toast {

}